@import "tailwindcss";
@theme {
  --animate-popup: popup 0.35s ease forwards;

  @keyframes popup {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}